.landingpage {
    position: relative;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    box-shadow: 0 2px 20px rgb(0 0 0 / 1);
}

.middle-container {
    position: relative;
    background-color: gray;
    height: 50vh;
}
h1 {
    margin: 0px;
    padding-top: 100px;
    color: aliceblue;

}   
body {
    margin: 0px;
    text-align: center;
}

.flip {
    width: 250px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.lap-cat {
    height: 30vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.absolute{
    width: 100%;
}

.fixed{
    background-color: rgba(0, 0, 255, 0.267);
    position: fixed;
    height: 50%;
    width: 100%;
}
