.landingpage {
    background-color: aquamarine;
    height: 100%;
    
}
h1 {
    margin: 0px;
}
body {
    margin: 0px;
}

.cloud {
    width: 250px;
}

.cloudflip {
    width: 250px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}