main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 99px;

  > section {
    height: 100vh;
  }

  // > section {
  //   display: none;
  // }

  // & .active {
  //   display: block;
  // }
}
