@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Code Pro", monospace;
}

p {
  font-family: "Ubuntu", sans-serif;
}

body {
  background: #151516;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
}
body .my_container {
  width: 1080px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 99px;
}
main > section {
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 100vh;
  padding: 0px 24px;
}
.sidebar .logo {
  height: 20%;
  padding-top: 32px;
}
.sidebar nav {
  height: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 32px;
}
.sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.sidebar nav ul li {
  position: relative;
}
.sidebar nav ul li a:hover i {
  color: #fff;
}
.sidebar nav ul li a:hover + span {
  opacity: 1;
  left: 32px;
}
.sidebar nav ul li a i {
  font-size: 24px;
  color: #868e96;
}
.sidebar nav ul li span {
  position: absolute;
  white-space: nowrap;
  left: 22px;
  top: -8px;
  opacity: 0;
  padding: 7px 13px;
  transition: all 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.menubar {
  width: 100%;
  display: inline-block;
  position: sticky;
  right: 0px;
  top: 0px;
  padding-top: 32px;
  padding-right: 24px;
}
.menubar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: 8px;
}
.menubar ul li a {
  text-decoration: none;
  text-transform: uppercase;
}
.menubar ul li a:hover div span {
  color: #fff;
}
.menubar ul li a:before {
  content: "";
  position: absolute;
  right: 0;
  height: 24px;
  width: 9rem;
  border-radius: 6px 0px 0px 6px;
  background-color: #a9e34b;
  opacity: 0.2;
  z-index: -1;
  transform-origin: right;
  transform: scaleX(0);
  transition: all 0.3s;
}
.menubar ul li a.active {
  color: #a9e34b;
}
.menubar ul li a.active::before {
  opacity: 0.2;
  transform-origin: right;
  transform: scaleX(1);
}
.menubar ul li a.active div span.original {
  transform: translateY(-100%);
  color: #a9e34b;
}
.menubar ul li a.active div span.alternate {
  transform: translateY(-100%);
  color: #a9e34b;
}
.menubar ul li a div {
  height: 24px;
  overflow: hidden;
}
.menubar ul li a div span {
  font-weight: 700;
  letter-spacing: 2px;
  color: #868e96;
  display: block;
  height: 100%;
}
.menubar ul li a div span.original {
  transition: all 0.3s;
}
.menubar ul li a div span.alternate {
  transition: all 0.3s;
}

.home {
  background: black;
}

.about {
  background: pink;
}

.contact {
  background: red;
}/*# sourceMappingURL=main.css.map */